.layout {
  display: grid;
  grid-template-columns: 240px 1fr;
  grid-template-rows: 100%;
  padding-right: var(--space-xl);
  height: 100vh;
  width: 100vw;

  main {
    width: 100%;

    display: grid;
    grid-template-rows: 100%;

    .content {
      height: 100%;
      overflow: auto;
    }
  }
}
